@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #000;
  --main-warning-color: #ff0000;
  --facebook-color: #2d609b;
  --twitter-color: #00c3f3;
}

html {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem;
}

.t-sub {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.05em;
}

.airstrike {
  position: relative;
  margin-top: -25%;
  z-index: 1;
}

.title-big {
  font-size: 64px;
  text-align: center;
}

@media (max-width: 1030px) {
  .title-big {
    font-size: 50px;
  }
}

@media (max-width: 820px) {
  .title-big {
      font-size: 38px;
  }
}

@media (max-width: 625px) {
  .title-big {
      font-size: 28px;
  }
}

@media (max-width: 480px) {
  .title-big {
      font-size: 22px;
  }
}