.img {
  display: block;
  width: 100%;
  height: auto;
}

.map {
  filter: drop-shadow(0px -4px 14px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 4px 14px rgba(34, 34, 34, 0.1));
  margin-top: -10%;
  position: relative;
}

.map__alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map__alert-item {
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: var(--main-warning-color);
  background-color: currentColor;
  border-radius: 50%;
}

.map__alert-item--small {
  width: 0.5rem;
  height: 0.5rem;
}

.map__alert-item--large {
  width: 1.5rem;
  height: 1.5rem;
}

.map__alert-item--odesa {
  top: 60%;
  left: 45%;
}

.map__alert-item--mykolaiv {
  top: 60%;
  left: 54%;
}

.map__alert-item--zaporizhzhya {
  top: 56%;
  left: 75%;
}

.map__alert-item--kherson {
  top: 72%;
  left: 60%;
}

.map__alert-item--mariupol {
  top: 65%;
  left: 74%;
}

.map__alert-item--donetsk {
  top: 45%;
  left: 84%;
}

.map__alert-item--kharkiv {
  top: 31%;
  left: 76%;
}

.map__alert-item--sumy {
  top: 20%;
  left: 69%;
}

.map__alert-item--chernihiv {
  top: 15%;
  left: 55%;
}

.map__alert-item--kyiv {
  top: 22%;
  left: 44%;
}

.map__alert-item--rivne {
  top: 15%;
  left: 28%;
}

.map__alert-item--lviv {
  top: 29%;
  left: 17%;
}

.map__alert-item--ivano-frankivsk {
  top: 44%;
  left: 16%;
}

.map__alert-item--vinnytsia {
  top: 41%;
  left: 35%;
}

.map__alert-item--cherkasy {
  top: 40%;
  left: 53%;
}

.map__alert-item--lutsk {
  top: 13%;
  left: 20%;
}

.map__alert-item--uzhhorod {
  top: 44%;
  left: 7%;
}

.map__alert-item--ternopil {
  top: 35%;
  left: 21%;
}

.map__alert-item--khmelnytskyi {
  top: 39%;
  left: 27%;
}

.map__alert-item--zhytomyr {
  top: 20%;
  left: 36%;
}

.map__alert-item--kropyvnytskyi {
  top: 50%;
  left: 58%;
}

.map__alert-item--dnipro {
  top: 49%;
  left: 68%;
}

.map__alert-item--luhansk {
  top: 40%;
  left: 90%;
}

.map__alert-item--simferopol {
  top: 82%;
  left: 67%;
}

.map__alert-item--chernivtsi {
  top: 50%;
  left: 20%;
}

.map__alert-item--poltava {
  top: 37%;
  left: 65%;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.map__alert-item::before,
.map__alert-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  animation: ripple 2800ms infinite linear;
  border: 1px solid currentColor;
  content: '';
}

.map__alert-item::before {
  animation-duration: 0ms;
}

.map__alert-item::after {
  animation-duration: 1400ms;
}
